<div class="items">
  <button type="button" class="btn btn-warning bmd-btn-fab modal-close">
    <i class="fas fa-times-circle"></i>
  </button>
  {% for item in property.property_item.all %}
  <div class="d-flex justify-content-between">
    <!-- TODO: profile avatar -->
    <img src="{{ item.images.all.0.img.url }}">
    <!-- Title, capacity, glyphs -->
    <div class="align-self-center text-center p-2 w-100">
      <h4>{{ item.title }}</h4>
      Capacity: {{ item.capacity }}
      <span class="mx-2 inline-divider"></span>
      Amenities:
      {% for amenity in item.amenities.all %}
      <i class="fas {{ amenity.icon|safe }}"></i>
      {% endfor %}
    </div>
    <!-- Price -->
    <div class="align-self-center p-1">
      <span id="bid-current-{{item.id}}">
        ${{ item.current_price }}
      </span>
    </div>
    <!-- View button -->
    <div class="align-self-center p-2 d-flex">
      <span class="mx-2 inline-divider align-self-center"></span>
      <button type="button" class="m-0 btn btn-primary view-item" data-toggle="modal" data-target="#property-item-{{ item.id }}">
        View
      </button>
      {% include "core/include/property/listing_modal.html" %}
    </div>
  </div>
  {% endfor %}
</div>