@import url('https://fonts.googleapis.com/css?family=Roboto|Raleway');

:root {
    --foreground: #c7cece;
    --background: #2a3432;
    --accent: #7daab9;
    --alternative-accent: #dcbdad;
}

html {
  background: url(../images/laura-cros-748180-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  background: rgba(0, 0, 0, 0.4) !important;
  font-family: 'Roboto', sans-serif;
}

body > .container, body > .container-fluid {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif !important;
}

/* Manually importing flex-grow classes from mainline bootstrap */
.flex-grow-0 {
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
}

.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}
