html {
  background: url(../images/laura-cros-748180-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  z-index: 1;
  background: rgba(0, 0, 0, 0.7) !important;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

form {
  max-width: 500px;
}

nav .nav-link,
#notifications button {
  color: grey !important;
}

#notifications button:hover {
  color: black !important;
}

.masthead-brand a,
.nav-link {
  color: lightgrey !important;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: black !important;
}

.masthead {
  padding-bottom: 0 !important;
}

.list-nav {
  max-width: 250px;
  width: 250px;
}

.list-nav a {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  text-transform: none;
  font-size: 1rem !important;
}

.header-divider {
  width: calc(100% - 2rem);
  margin-left: 1rem;
  border: 1px solid rgba(180, 180, 180, 0.3);
}

.form-group {
  margin-bottom: 0;
}

.panel {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.tab-content > .active {
  display: flex;
}

.list-nav > .active {
  color: #fff !important;
  background-color: #009688 !important;
  border-color: #009688 !important;
  border-radius: 0;
}

.list-nav > .nav-link:hover {
  color: #495057 !important;
  text-decoration: none;
  background-color: #f8f9fa !important;
  border-radius: 0;
}

.nav-link {
  transition: 0.2s;
}

a i {
  padding-right: 1rem;
}

a span {
  position: absolute;
  left: 4rem;
}

#contacts {
  position: absolute;
  background-color: black;
  z-index: 1000;
}

.navbar-toggler {
  z-index: 3000;
}

.btn-home {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  #settings,
  #contacts {
    position: static;
    background-color: transparent;
    flex-basis: 0;
    flex-grow: 0;
    display: block;
  }

  #settings {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .btn-home {
    margin-right: auto;
  }

  .navbar-toggler {
    display: none;
  }
}