.container-fluid {
  height: 100vh;
}

.messages {
  overflow-y: auto;
}

ul {
  list-style-type: none;
}

.min-height-0 {
  min-height: 0;
}

textarea {
  resize: none;
  border: none;
  overflow-x: hidden;
}

textarea:focus {
  border: none;
  outline: none;
}

#chat-message-submit {
  background-color: white;
  min-width: 5rem;
  border-radius: 0;
}

#chat-message-submit:hover {
  background-color: grey;
}