@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

body {
  color: black;
}

.card {
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
