@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway|Roboto');

html {
  background: url(../images/laura-cros-748180-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6) !important;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

main {
  color: black;
}

.card-title {
  font-family: Raleway, sans-serif;
}

h4 {
  font-size: 1rem !important;
}

.card-footer {
  padding: .25rem 1.25rem;
}

.pagination a {
  color: white !important;
}

.pagination a:hover {
  color: black !important;
}

.active a:hover {
  color: white !important;
}