{% extends 'core/default.html' %}

{% block body %}
  <div class="container">
    {% block form %}
      <form method="post" novalidate>
	{% csrf_token %}
	  <h1>{% block property_title %}Property{% endblock %}</h1>
	  <div class="dynamic-form">
	    {% include 'dashboard/listing/property_item_form.html' with form=form %}
	    {% include 'core/include/form_field.html' with form=form field=form.latitude %}
	    {% include 'core/include/form_field.html' with form=form field=form.longitude %}
	    {% include 'core/include/form_field.html' with form=form field=form.address %}
	    {{ image_formset.management_form }}
	    {{ image_formset.non_form_errors }}
	    {% for form in image_formset %}
	      {{ form.as_p }}
	    {% endfor %}
	  </div>

	  {{ room_formset.management_form }}
	  {{ room_formset.non_form_errors }}

	  {% for form in room_formset %}
	    <div class="dynamic-form">
	      <h2>{% block room_title %}Room{% endblock %}</h2>
	      {% include 'dashboard/listing/property_item_form.html' with form=form %}
	      {{ form.image_formset.management_form }}
	      {{ form.image_formset.non_form_errors }}
	      {% for form in form.image_formset %}
		{{ form.as_p }}
	      {% endfor %}
	      <button class="btn btn-success add-form">+</button>
	    </div>

	    {% if form.nested %}
	      {{ form.nested.management_form }}
	      {{ form.nested.non_form_errors }}
	      {% for nested in form.nested %}
		<div class="dynamic-form">
		  <h3>{% block bed_title %}Bed{% endblock %}</h3>
		  {% include 'dashboard/listing/property_item_form.html' with form=nested %}
		  {{ nested.image_formset.management_form }}
		  {{ nested.image_formset.non_form_errors }}
		  {% for form in nested.image_formset %}
		    {{ form.as_p }}
		  {% endfor %}
		  <button class="btn btn-success add-form">+</button>
		</div>
	      {% endfor %}
	    {% endif %}
	  {% endfor %}
	<button type="submit" class="btn btn-primary">Create</button>
      </form>
    {% endblock %}
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    function updateElementIndex(el, prefix, ndx) {
      var id_regex = new RegExp('(' + prefix + '-\\d+)');
      var replacement = prefix + '-' + ndx;
      if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
      if (el.id) el.id = el.id.replace(id_regex, replacement);
      if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function cloneMore(selector, prefix) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
      newElement.find(':input').each(function() {
	var name = $(this).attr('name')
	if(name) {
	  name = name.replace('-' + (total-1) + '-', '-' + total + '-');
	  var id = 'id_' + name;
	  $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
	}
      });
      total++;
      $('#id_' + prefix + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
      var conditionRow = $('.dynamic-form:not(:last)');
      conditionRow.find('.btn.add-form')
	.removeClass('btn-success').addClass('btn-danger')
	.removeClass('add-form').addClass('remove-form')
	.html('-');
      return false;
    }

    function deleteForm(prefix, btn) {
      var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
      if (total > 1){
	btn.closest('.dynamic-form').remove();
	var forms = $('.dynamic-form');
	$('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
	for (var i=0, formCount=forms.length; i<formCount; i++) {
	  $(forms.get(i)).find(':input').each(function() {
	    updateElementIndex(this, prefix, i);
	  });
	}
      }
      return false;
    }

    $(document).on('click', '.add-form', function(e){
      e.preventDefault();
      cloneMore('.dynamic-form:last', 'form');
      return false;
    });

    $(document).on('click', '.remove-form', function(e){
      e.preventDefault();
      deleteForm('form', $(this));
      return false;
    });
  </script>
  {% include 'core/include/gmaps_search.html' with address_field_id='id_address' %}
{% endblock %}
