{% extends "core/base.html" %}

{% block body_wrapped %}
{% include "core/include/header.html" %}

{% for booking in booking_list %}
<div class="row">
  <p>{{ booking.user }} booked {{ booking.property_item }}</p>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#booking-modal-{{ forloop.counter0 }}">
    Review
  </button>
  <!-- Modal -->
  <div class="modal fade" id="booking-modal-{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="booking{{ forloop.counter0 }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="booking{{ forloop.counter0 }}ModalLabel">Leave a review for {{ booking.property_item }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% include "core/include/footer.html" %}
{% endblock %}
