{% extends "core/base.html" %}
{% load static %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{% static "core/css/dashboard.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/footer.css" %}">

{% endblock %}

{% block title %} {{ block.super }} - Dashboard {% endblock %}

{% block body_wrapped %}
{% include "core/include/header.html" %}
<div class="container d-flex flex-row flex-wrap flex-grow-1 justify-content-center">
  <div class="p-0">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Profile</a>
      <a href="#" class="list-group-item list-group-item-action">Settings</a>
      <a href="#" class="list-group-item list-group-item-action">Active Bids</a>
      <a href="#" class="list-group-item list-group-item-action">Booking History</a>
      <a href="#" class="list-group-item list-group-item-action">Property Listings</a>
      <a href="#" class="list-group-item list-group-item-action active">Wallet</a>
    </div>
  </div>
  <div class="bg-light px-0 py-2 d-flex flex-grow-1 justify-content-center">
    <div>
      Current Balance: $200
    </div>
    <form class="p-2">
      <div class="form-group">
        <label for="add-currency">Add money to Wallet</label>
        <input type="number" class="form-control" id="add-currency" placeholder="50">
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}