{% extends "core/base.html" %}

{% block title %} {{ block.super }} - Dashboard {% endblock %}

{% block body_wrapped %}
{% include "core/include/header.html" %}
<div class="container d-flex flex-column flex-grow-1 justify-content-center">
  <div class="d-flex row flex-grow-1">
    <div class="col-md-2 p-0">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">Profile</a>
        <a href="#" class="list-group-item list-group-item-action">Settings</a>
        <a href="#" class="list-group-item list-group-item-action">Booking History</a>
        <a href="#" class="list-group-item list-group-item-action">Property Listings</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Wallet</a>
      </div>
    </div>
    <div class="col-sm-10 bg-light">
      <form>
        <div class="form-group">
          <label for="change-password"></label>
          <input type="password" class="form-control" id="change-password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Personal description</span>
          </div>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}