{% load widget_tweaks %}
<div class="p-2 flex-grow-1 justify-content-center tab-pane fade" id="profile" role="tabpanel">
  <div class="panel p-2">
    <a class="btn btn-secondary" href="{% url 'core:profile' user.id %}">View Public Profile</a>
    <form id="change-bio" method="post" class="profile p-2 w-100" action="{% url 'dashboard:dashboard' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ forms.profile.bio.id_for_label }}">{{ forms.profile.bio.label }}</label>
        {% render_field forms.profile.bio class="form-control" rows="3" %}
      </div>
      <button name="action" class="btn btn-primary" type="submit" value="profile">Apply</button>
    </form>
  </div>
</div>