{% extends "dashboard/dashboard_base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="p-2 flex-grow-1 justify-content-center tab-pane fade" id="profile" role="tabpanel">
  <div class="panel p-2">
    <a class="btn btn-secondary" href="{% url 'core:profile' request.user.id %}">View Public Profile</a>
    <form id="change-bio" method="post" class="p-2 w-100">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.bio.id_for_label }}">{{ form.bio.label }}</label>
        {% render_field form.bio class="form-control" rows="3" %}
      </div>
      <input class="btn btn-primary" type="submit" value="Apply"></input>
    </form>
  </div>
</div>
{% endblock %}
