{% extends "core/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/header.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/footer.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/panel.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/leave_review.css" %}">
{% endblock %}

{% block title %} {{ block.super }} - Review {% endblock %}

{% block body_wrapped %}
{% include "core/include/header.html" %}

<div class="container panel p-0">
  <form method="post" class="m-0">
    {% csrf_token %}
    <img class="w-100" src="{{ property_item.images.all.0.img.url }}">
    <div class="p-4">
      <h4 class="mt-3">{{ property_item.title }}</h4>
      <strong class="text-success">{{ property_item.property.address }}</strong>
      <h5 class="mt-3">Star Rating</h5>
      <div>
        {% for _ in "xxxxx" %}
        <span class="fa fa-star" id="star-{{ forloop.counter0 }}" onclick="rating({{ forloop.counter }})"></span>
        {% endfor %}
      </div>
      {% render_field form.rating value="0" %}
      {% include "core/include/form_field.html" with form=form field=form.description %}
      <input type="submit" value="Submit" class="m-0 btn btn-success">
    </div>
  </form>
</div>

{% include "core/include/footer.html" %}
{% endblock %}
{% block js %}
<script>
  $('.fa-star').hover(
    function() {
      $(this).prevAll().addBack().css('color', 'orange');
    }, function() {
      $(this).prevAll().addBack().css('color', 'black');
    }
  );

  function rating(stars) {
    /*Add stars*/
    for (var i = 0; i < stars; i++) {
      $('#star-' + i).addClass('checked');
    }
    /*Remove extra stars*/
    for (var i = stars; i < 5; i++) {
      $('#star-' + i).removeClass('checked');
    }

    $('#id_rating').val(stars);
  }
</script>
{% endblock %}
