<div class="p-2 flex-column flex-grow-1 justify-content-between tab-pane fade" id="listings" role="tabpanel">
  <div class="accordion w-100" id="accordion">
    {% for property in user.property_set.all %}
    <div class="card w-100">
      <div class="card-header" id="heading{{ forloop.counter }}" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
        <h5 class="mb-0 pl-2">
          <div class="d-inline">
            <a href="{{ property.get_absolute_url }}" class="d-inline text-left">
              <strong class="text-primary">{{ property.title }}</strong>
            </a>
            <small class="d-block text-secondary">
              {{ property.address }}
            </small>
          </div>
        </h5>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="align-self-end p-2">
    <a href="{% url 'dashboard:listing-create' %}" class="btn btn-raised text-white bg-accent">Add Property</a>
  </div>
</div>
