{% extends "core/base.html" %}

{% block title %} {{ block.super }} - Dashboard {% endblock %}

{% block body_wrapped %}
{% include "core/include/header.html" %}
<div class="container d-flex flex-column flex-grow-1 justify-content-center">
  <div class="d-flex row flex-grow-1">
    <div class="col-md-2 p-0">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Profile</a>
        <a href="#" class="list-group-item list-group-item-action">Settings</a>
        <a href="#" class="list-group-item list-group-item-action">Booking History</a>
        <a href="#" class="list-group-item list-group-item-action active">Property Listings</a>
        <a href="#" class="list-group-item list-group-item-action">Wallet</a>
      </div>
    </div>
    <div class="col-md-10 bg-light px-0 py-2 d-flex justify-content-center" style="border: 1px solid rgba(0, 0, 0, 0.125);">
      
    </div>
  </div>
</div>
{% include "core/include/footer.html" %}
{% endblock %}