<div class="p-2 flex-grow-1 justify-content-center tab-pane fade" id="security" role="tabpanel">
  <form id="change-password" method="post" class="panel">
    {% csrf_token %}
    <div class="form-group">
      {% for field in forms.password_change %}
      {% include "core/include/form_field.html" with form=forms.password_change field=field %}
      {% endfor %}
    </div>
    <div class="form-group">
      <button type="submit" value="password_change" name="action" class="btn btn-primary">Apply</button>
    </div>
  </form>
</div>