{% extends "core/base.html" %}

{% block title %} {{ block.super }} - Dashboard {% endblock %}

{% block body_wrapped %}
{% include "core/include/header.html" %}
<div class="container d-flex flex-row flex-wrap flex-grow-1 justify-content-center">
  <div class="p-0">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Profile</a>
      <a href="#" class="list-group-item list-group-item-action active">Settings</a>
      <a href="#" class="list-group-item list-group-item-action">Booking History</a>
      <a href="#" class="list-group-item list-group-item-action">Property Listings</a>
      <a href="#" class="list-group-item list-group-item-action">Wallet</a>
    </div>
  </div>
  <div class="bg-light px-0 py-2 d-flex flex-grow-1 justify-content-center" style="border: 1px solid rgba(0, 0, 0, 0.125);">
    <form class="p-2" style="max-width: 500px;">
      <div class="form-group">
        <label for="change-password">Password</label>
        <input type="password" class="form-control" id="change-password" aria-label="Password" aria-describedby="basic-addon1">
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Apply</button>
      </div>
    </form>
  </div>
</div>
{% include "core/include/footer.html" %}
{% endblock %}