{% extends "dashboard/dashboard_base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="bg-light px-0 py-2 d-flex flex-grow-1 justify-content-center">
  <form method="post" class="p-2">
    {% csrf_token %}
    <div class="form-group">
      {% for field in form %}
      {% include "core/include/form_field.html" with form=form field=field %}
      {% endfor %}
    </div>
    <div class="form-group">
      <input type="submit" value="Apply" class="btn btn-primary"></input>
    </div>
  </form>
</div>
{% endblock %}
