{% extends "dashboard/dashboard_base.html" %}

{% block content %}
<div class="p-2 d-flex flex-grow-1 justify-content-center">
  <form method="post" class="panel">
    <p><u>Current balance:</u> ${{ request.user.credits }}</p>
    {% csrf_token %}
    {% for field in form %}
    {% include "core/include/form_field.html" with form=form field=field %}
    {% endfor %}
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Add"></input>
    </div>
  </form>
</div>
{% endblock %}
