{% extends 'core/default.html' %}

{% block body %}
  <!-- Content -->
  <div id="content-container" class="container">
    <div class="flex-container d-flex content h-100 align-item-center">
      <div id="search-card" class="d-flex flex-column align-self-center">
	<div class="">
	  <div class="input-group stylish-input-group">
	    <input id="search-criteria" type="text" class="form-control border-right-0" placeholder="Where would you like to stay?">
	    <span class="input-group-append">
	      <div class="input-group-text bg-white" style="padding-right: 30px;"><i class="fa fa-search"></i></div>
	    </span>
	  </div>
	</div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {% include 'core/include/gmaps_search.html' with address_field_id='search-criteria' %}
{% endblock %}
