body {
}

#main-flex-wrapper {
    min-height: 100vh;
    background: #f7f7f7;
}

.form-control:focus {
    box-shadow: none;
    border-color: #cccccc;
}

footer li {
    list-style-type: none;
    padding: 0.25em 1.5em;
}

footer li a {
    color: rgba(0, 0, 0, 0.5);
}

footer li a:hover {
    text-decoration: none;
    color: black; /* TODO: fix */
}

@media (max-width: 760px) {
    /* Allowing the footer to collapse and present each
       entry as a row */
    footer .flex-row {
        padding-left: 0;
        text-align: center;
        flex-direction: column !important;
    }
}
