#conversation-module {
    margin: 0;
    padding: 0;
}

#conversation-control-bar {
    background: grey;
}

#conversation-control-bar .btn {
    background: transparent;
    border: none;
}

#conversation-content {
    background-image: url(../assets/images/chat-tile.jpg);
    list-style: none;
    padding: 2em;
}

.message-sent {
}

.message-recieved {
}

#conversation-input {
    background: blue;
}
