{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/header.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/footer.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/panel.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/login.css" %}">
{% endblock %}

{% block title %} {{ block.super }} - Login {% endblock %}

{% block body_wrapped %}
{% include "core/include/header.html" %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endfor %}
{% if next %}
<div class="alert alert-warning" role="alert">
  {% if user.is_authenticated %}
  Your account doesn't have access to this page. To proceed,
  please login with an account that has access.
  {% else %}
  Please login to see this page.
  {% endif %}
</div>
{% endif %}
<form class="panel" method="post" action="{% url 'authentication:login' %}" novalidate>
  {% csrf_token %}
  <h3>localhost</h3>
  {% for field in form.visible_fields %}
    {% include "core/include/form_field.html" with form=form field=field %}
  {% endfor %}
  <a href="{% url 'authentication:password_reset' %}">
    <p>Forgot password?</p>
  </a>
  <button type="submit" class="btn btn-primary btn-lg btn-block" value="login">Sign in</button>
  <input type="hidden" name="next" value="{{ next }}"></input>
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
</form>
{% include "core/include/footer.html" %}
{% endblock %}
