{% extends "core/default.html" %}

{% block body %}
  <div class="container d-flex flex-column flex-grow-1 justify-content-center">
    <form method="post" class="form-login">
      <h3 class="">Account Recovery</h3>
      <label for="{{ form.email.id_for_label }}" class="sr-only">{{ form.email.label }}</label>
      {% include "core/include/form_field.html" with form=form field=form.email %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Recover Account</button>
    </form>
  </div>
{% endblock %}
