{% extends 'core/default.html' %}

{% block title %} {{ block.super }} - Sign-up {% endblock %}

{% block body %}
  <div class="container d-flex flex-column flex-grow-1 justify-content-center">
    <form method="post" class="form-login" novalidate>
      <h3 class="">Register</h3>
      {% csrf_token %}
      {% for field in form %}
        {% if field.label != 'Gender' %}
          {% include 'core/include/form_field.html' with form=form field=field %}
        {% endif %}
      {% endfor %}
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        {% for radio in form.gender %}
          <label class="btn btn-primary" for="{{ radio.id_for_label }}">
              {{ radio.tag }}
              {{ radio.choice_label }}
          </label>
        {% endfor %}
        {% for error in form.gender.errors %}
          <div class="invalid-feedback">
            {{ error|escape }}
          </div>
        {% endfor %}
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
  </div>
{% endblock %}
