{% extends "core/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/header.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/footer.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/gmaps.css" %}">
{% if user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="{% static "core/css/home.css" %}">
{% else %}
<link rel="stylesheet" type="text/css" href="{% static "core/css/splash.css" %}">
{% endif %}
{% endblock %}

{% block body_wrapped %}
{% include "core/include/header.html" %}
<main role="main">
  <ul class="tag-lines">
    <li>
      {% if user.is_authenticated %}
      {% if last_booking %}
      <h1>We hope you enjoyed your stay at {{ last_booking.property_item.property.address }}!</h1>
      {% else %}
      <h1>Welcome to localhost!</h1>
      {% endif %}
      {% else %}
      <h1 class="tag-head">Welcome to the next generation of lodging</h1>
      {% endif %}
    </li>
    <li>
      {% if user.is_authenticated %}
      {% if last_booking %}
      <h4>Are you ready for your next adventure?</h4>
      {% else %}
      <h1>We hope you enjoy your stay</h1>
      {% endif %}
      {% else %}
      <h4>Search &bull; Bid &bull; Stay</h4>
      {% endif %}
    </li>
  </ul>
  <div class="input-group stylish-input-group">
    {% if user.is_authenticated %}
    <input id="suburb_search" type="text" class="form-control py-2" placeholder="Where would you like to go?">
    {% else %}
    <input id="suburb_search" type="text" class="form-control py-2" placeholder="Try searching for 'Kingsford'">
    {% endif %}
  </div>
  <form id="form-search" method="get" action="{% url 'core:search-results' %}">
    <input type="hidden" id="suburb_search_lat" name="lat" value="">
    <input type="hidden" id="suburb_search_lng" name="lng" value="">
    <input type="hidden" id="full_address" name="addr" value="">
  </form>
</main>
{% include "core/include/footer.html" %}
{% endblock %}

{% block js %}
<script>
  function activateSearchCallback() {
    activateSearch('suburb_search', 'suburb_search_lat', 'suburb_search_lng', 'full_address','form-search');
  }
</script>
<script type="text/javascript" src="{% static "core/js/search_geolocation.js" %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_KEY }}&libraries=places&callback=activateSearchCallback"></script>
{% endblock %}
