{% extends "core/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/header.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/footer.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/gmaps.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/home.css" %}">
{% endblock %}

{% block body_wrapped %}
{% include "core/include/header.html" %}
<main role="main">
  <h3 class="tag-line">Where would you like to stay?</h3>
  <form id="form-search" method="get" action="{% url 'core:search_results' %}">
    <div class="input-group stylish-input-group">
      <input id="suburb_search" type="text" class="form-control py-2" placeholder="Try 'Kingsford'">
    </div>
    <input type="hidden" id="suburb_search_lat" name="lat" value="1">
    <input type="hidden" id="suburb_search_lng" name="lng" value="1">
  </form>
</main>
{% include "core/include/footer.html" %}
{% endblock %}

{% block js %}
<script>
  function activateSearchCallback() {
    activateSuburbSearch('suburb_search', 'suburb_search_lat', 'suburb_search_lng');
  }
</script>
<script type="text/javascript" src="{% static "core/js/suburb_search_geolocation.js" %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_KEY }}&libraries=places&callback=activateSearchCallback"></script>
{% endblock %}
