{% extends "core/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/header.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/footer.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/property.css" %}">
{% endblock %}

{% block main-container %}
<div class="container-fluid d-flex flex-column justify-content-between">
{% endblock %}

{% block body_wrapped %}
{% include "core/include/header.html" %}
<div class="container px-3">
  <div id="property-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      {% with "https://via.placeholder.com/600x300?text=No images" as placeholder_image %}
      {% for image in property.images.all %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img class="d-block w-100" src="{{ image.img.url }}" alt="slide-{{ forloop.counter }}">
      </div>
      {% empty %}
      <div class="carousel-item active">
        <img class="d-block w-100" src="{{ placeholder_image }}" alt="slide-1">
      </div>
      {% endfor %}
      {% endwith %}
    </div>
    <a class="carousel-control-prev" href="#property-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#property-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Description and amneties -->
  <div class="d-flex">
    <div class="card w-100">
      <div class="card-body d-flex justify-content-between pb-3">
        <div class="d-flex flex-column align-items-start">
          <h3>{{ property.title }}</h3>
          <div class="d-flex flex-row align-items-center">
            <strong class="text-success">{{ property.address }}</strong>
          </div>
          <p class="mb-1 d-flex flex-column flex-grow-1">{{ property.description }}</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary m-0" data-toggle="modal" data-target="#map-modal">
            Map
          </button>
        </div>
        <div class="d-flex flex-column flex-grow-1 align-items-center justify-content-center host">
          <img class="avatar" src="{{ property.host.avatar.url }}">
          {{ property.host.short_name }}
          <div class="input-group">
            <div class="input-group-prepend mx-auto">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Contact</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'core:profile' property.host.id %}">View host profile</a>
                <form id="id" class="dropdown-item m-0 py-0" method="get" action="{% url 'messaging:messages' %}">
                  <input type="hidden" id="recipient" name="recipient" value="{{ property.host_id }}">
                  <button class="dropdown-item p-0" type="submit">Send a message</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="align-self-center d-flex flex-column justify-content-between h-100">
      <!-- Map modal -->
      {% include "core/include/property/property_map_modal.html" %}
    </div>
  </div>
  <!-- Property item listings -->
  {% include "core/include/property/property_items.html" %}
</div>
{% include "core/include/footer.html" %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "core/js/property/mobile_modal_hide.js" %}"></script>
<script type="text/javascript" src="{% static "core/js/countdown.js" %}"></script>
<script>
  /* Setting the countdown for each of the active auction items. */
  var session_end = new Date('{% now "F j, Y" %} {{ session_end|time:"H:i:s" }}').getTime();
  register_countdown('countdown', session_end, 'CLOSED');
</script>
<script>
  /* Registering realtime buyout event handler. */
  var buyout_handler = function(data) {
    console.log('buyout');
    $('#bidding-module-' + data.property_item_id + ' button').prop('disabled', true);
    $('#bidding-module-' + data.property_item_id + ' input').prop('disabled', true);
    $('#bidding-module-' + data.property_item_id + ' .alert').text("Bought out!");
    $('#bidding-module-' + data.property_item_id + ' .alert').show();
  }
  csocket.register_handler('buyout', buyout_handler)

  $('.buyout-button').click(function() {
    $('#buyout-confirm-' + $(this).val()).modal({backdrop: 'static', show: true});
  });

  $('.buyout-confirm').click(function() {
    csocket.buyout($(this).val());
    $('#buyout-confirm-' + $(this).val()).modal('hide');
  });

  /* Registering realtime bid handler event handler. */
  var bid_handler = function(data) {
    var new_bid = data.amount;
    console.log(new_bid)
    $('#bid-current-' + data.property_item_id).text('$' + new_bid);
    $('#bid-current-modal-' + data.property_item_id).text('Current bid: $' + new_bid);

    if (data.user_id == {{ user.id }}) {
      $('#highest-bidder').html('You have the highest bid!');
      $('#highest-bidder').addClass('font-weight-bold');
    } else {
      $('#highest-bidder').html('Someone else has the highest bid!');
      $('#highest-bidder').removeClass('font-weight-bold');
    }
  }
  csocket.register_handler('bid', bid_handler);

  /* Registering listener for property events. */
  {% for property_item in property.property_item.all %}
  csocket.subscribe('property_item', {{ property_item.id }});
  {% endfor %}

  /* Registering listener for alerts. */
  var alert_handler = function(data) {
    $('#bidding-module-' + data.property_item_id + ' .alert').text(data.description);
    $('#bidding-module-' + data.property_item_id + ' .alert').show();
  }
  csocket.register_handler('alert', alert_handler);
</script>
<script>
  /* Catching errors client side for bidding. */
  function sendBid (button) {
    var amount = $('#amount-ttb-' + button.id).val()
    if (amount) {
      if (!isNaN(amount)) {
        csocket.bid(button.id, amount);
      }
    }
  }
</script>
<script>
  /* Displaying map when button registers function call. */
  function initMap() {
    var property = {lat: {{ property.latitude }}, lng: {{ property.longitude }}};
    var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 14, center: property});
    var marker = new google.maps.Marker({position: property, map: map});
  }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_KEY }}&libraries=places&callback=initMap"></script>
<script>
  /* Event triggered when the modal is finished disappearing off the screen. */
  $(document).on('hidden.bs.modal', '.modal', function () {
    $('.modal:visible').length && $(document.body).addClass('modal-open');
  });
</script>
{% endblock %}
