{% extends "core/base.html" %}
{% load static %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{% static "core/css/property.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/footer.css" %}">

{% endblock %}

{% block title %} {{ block.super }} - {{ property.title }} {% endblock %}

{% block body_wrapped %}
{% include "core/include/header.html" %}
  <div class="container d-flex flex-column flex-grow-1 justify-content-center">
    <div class="row mt-3">
      <div class="col-lg-8">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for image in property.images.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img class="d-block w-100" src="{{ image.img.url }}">
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="p-2">
          <h2 class="m-0">{{ property.title }}</h2>
          {{ property.address }}
        </div>
        <div class="justify-content-center algin-items-center">
          <div class=" btn-group p-2">
            <a href="{% url 'core:property-detail' property.id %}" role="button" class="btn btn-secondary">Property</a>
            {% for item in property.property_item.all %}
              <a href="" role="button" class="btn btn-secondary">{{ item.title }}</a>
            {% endfor %}
          </div>
        </div>
        <div class="p-2">
          <h4>Description</h4>
          {{ property.description }}
        </div>
        <div class="p-2">
          <h4>Amenities</h4>
          <i class="fas fa-swimming-pool"></i>
          <i class="fas fa-wifi"></i>
          <i class="fas fa-wheelchair"></i>
          <i class="fas fa-tv"></i>
          <i class="fas fa-hot-tub"></i>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row m-0 my-3 justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bidding</h5>
              <p class="card-text">Current bid: $150</p>
              <button class="btn btn-primary">Bid! (+$5)</button>
            </div>
          </div>
        </div>
        <div class="row m-0 my-3 justify-content-center">
          <div class="card">
            <div id="map" class="card-body" style="min-height: 20em;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include "core/include/footer.html" %}
<script>
  function initMap() {
    var property = {lat: {{ property.latitude }}, lng: {{ property.longitude }}};
    var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 12, center: property});
    var marker = new google.maps.Marker({position: property, map: map});
  }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_KEY }}&libraries=places&callback=initMap"></script>

{% endblock %}
