{% extends "core/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/header.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/footer.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/review.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/panel.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/public_profile.css" %}">
{% endblock %}

{% block body_wrapped %}
{% include "core/include/header.html" %}
<div class="d-flex flex-column flex-grow-1">
  <div class="card mb-4 p-5">
    <div class="card-body d-flex flex-column align-items-start">
      <h1 class="align-self-center">{{ user.full_name }}</h1>
      <form id="id" class="m-0 align-self-center" method="get" action="{% url 'messaging:messages' %}">
        <input type="hidden" id="recipient" name="recipient" value="{{ user.id }}">
        <button class="btn btn-primary" type="submit">Send a Message</button>
      </form>
      <p>
        {% if user.bio %}
        {{ user.bio }}
        {% else %}
        N/A
        {% endif %}
      </p>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-body d-flex flex-column">
      <h3 class="m-3 align-self-center">Listings</h3>
      <ul class="list-group w-100 pb-0">
        {% for property in user.property_set.all %}
        <li class="list-group-item">
          <div class="w-100 row m-0">
            <div class="col-md-4 m-0">
              <a href="{{ property.get_absolute_url }}" class="align-middle">{{ property.title }}</a>
            </div>
            <div class="col-md-8">
              {{ property.address }}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% include "core/include/footer.html" %}
{% endblock %}
