{% extends "core/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/header.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/footer.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/review.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/panel.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/public_profile.css" %}">
{% endblock %}

{% block main-container %}
<div class="container-fluid d-flex flex-column justify-content-between p-0">
{% endblock %}

{% block body_wrapped %}
{% include "core/include/header.html" %}
<div class="card mb-4 p-4 align-self-center">
  <div class="row card-body pl-0">
    <div class="col-md-6">
      <img class="avatar mx-auto d-block" src="../../static/core/images/alex-king-690219-unsplash.jpg">
    </div>
    <div class="d-flex col-md-6">
      <div class="d-flex flex-column flex-grow-1 justify-content-between">
        <h1>{{ user.full_name }}</h1>
        {% if user.gender %}
        <h6>{{ user.get_gender_display }}</h6>
        {% endif %}
        {% if user.dob %}
        <h6>{{ age }}</h6>
        {% endif %}
        <p>
          {% if user.bio %}
          {{ user.bio }}
          {% else %}
          N/A
          {% endif %}
        </p>
        <div class="d-flex flex-row flex-grow-1">
          <form id="id" class="m-0 align-self-center" method="get" action="{% url 'messaging:messages' %}">
            <input type="hidden" id="recipient" name="recipient" value="{{ user.id }}">
            <button class="btn btn-primary" type="submit">View Listings</button>
          </form>
          <form id="id" class="m-0 align-self-center" method="get" action="{% url 'messaging:messages' %}">
            <input type="hidden" id="recipient" name="recipient" value="{{ user.id }}">
            <button class="btn btn-primary" type="submit">Send a Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "core/include/footer.html" %}
{% endblock %}
