@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url("../bg3.jpg");
    background-size: cover;
}

input {
    padding: 30px !important;
    font-weight: bold;
}

#search-card {
    box-shadow: 0 16px 40px rgba(0,0,0,0.5);
    border-radius: 2.5px;
    width: 65%;
}

.navbar {
    padding-top: 20px;
}

.form-control:focus {
    box-shadow:none;
    -webkit-box-shadow:none;
    border-color:#cccccc;
}

::-webkit-input-placeholder { /* Chrome */
    color: #a8a8a8 !important;
}

.nav-item a {
    text-shadow: 2px 2px 3px black;
}

.card {
    float: left;
    margin: 2%;
    border: none;
}

.card-body {
    padding: 0;
    padding-top: 2%;
}

.card-bid-active {
    border-left: 2em black solid;
}
