@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

body {
	background-image: url("../bg3.jpg");
	background-size: cover;
}

input {
	padding: 30px !important;
	font-weight: bold;
}

#content-container {
	height: 80%;
}

.search-bar {
	margin: 0;
	width: 100%;
}

#search-card {
	box-shadow: 0 16px 40px rgba(0,0,0,0.5);
	border-radius: 2.5px;
}

.navbar {
	padding-top: 20px;
}