<script>
  function activatePlacesSearch() {
    var input = document.getElementById('search');
    var options = {
      types: ['(cities)'],
      componentRestrictions: {country: 'au'}
    };
    var autocomplete = new google.maps.places.Autocomplete(input, options);
    autocomplete.addListener('place_changed', function() {
      var place = autocomplete.getPlace();
      /* If the request is submitted without clicking an entry in the search
       * place.geometry will be undefined */
      if (place.geometry !== undefined) {
        $('#lat').val(place.geometry.location.lat());
        $('#lng').val(place.geometry.location.lng());
      }
    });
  }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_KEY }}&libraries=places&callback=activatePlacesSearch"></script>
