<form id="search-component" method="get" action="{% url 'core:search_results' %}">
  <div class="input-group stylish-input-group">
    <input id="search" type="text" class="form-control border-right-0" placeholder="Where would you like to go?">
    <div class="input-group-append ">
      <span class="input-group-text bg-white"><i class="fa fa-search"></i></span>
    </div>
    <input type="hidden" id="lat" name="lat" value="1">
    <input type="hidden" id="lng" name="lng" value="1">
  </div>
</form>
