{% extends "core/base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/header.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "core/css/components/footer.css" %}">
{% endblock %}

{% block body_wrapped %}
{% include "core/include/header.html" %}
  <div class="container d-flex flex-column flex-grow-1 justify-content-center">
    <h1 class="mx-auto">404</h1>
    <p class="mx-auto">Page not found.</p>
  </div>
{% include "core/include/footer.html" %}
{% endblock %}
