{% extends "core/default.html" %}

{% block body %}
  <div class="container">
    {% block form %}
    <form enctype="multipart/form-data" method="post" novalidate>
      {% csrf_token %}
      <h2>{% block form_title %}Listing{% endblock %} - property details</h2>
      {% include "dashboard/listing/property_form.html" with form=form image_formset=image_formset %}

      {{ property_item_formset.management_form }}
      {% for error in property_item_formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      {% endfor %}

      {% for form in property_item_formset %}
        <div class="dynamic-form">
          <h2>{% block sub_item_title %}New Item{% endblock %}</h2>
          {% include 'dashboard/listing/property_item_form.html' with form=form %}
          <button type="button" class="btn btn-success add-form">+</button>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  {% endblock %}
</div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $(document).on('click', '.add-form', function(e) {
      var lastform = $('.dynamic-form:last');
      var newid = lastform.attr('id').match(/\d+$/);
      newid++;

      var cloned = $('.dynamic-form:last').clone();
      cloned.prop('id', 'dynamic-form-' + newid);

      var temp = cloned.find('#id_propertyitem_set-0-property');
      temp.prop('id', '#id_propertyitem_set-' + newid + '-property')

      /* example showing how to update id of sub-id elements */
      cloned.insertAfter('.dynamic-form:last');

      return false;
    });
  </script>
  {% include "core/include/gmaps_search.html" with address_field_id=form.address.auto_id %}
{% endblock %}
