{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endfor %}
{% endif %}

{% include 'core/include/form_field.html' with form=form field=form.title %}
{% include 'core/include/form_field.html' with form=form field=form.description %}
{% include 'core/include/form_field.html' with form=form field=form.address %}
<div class="form-row">
  {% include 'core/include/form_field.html' with form=form field=form.price field_extra_css='col-md-4' %}
  {% include 'core/include/form_field.html' with form=form field=form.buyout_price field_extra_css='col-md-4' %}
  {% include 'core/include/form_field.html' with form=form field=form.capacity field_extra_css='col-md-4' %}
</div>
<div class="form-row">
  {% include 'core/include/form_field.html' with form=form field=form.earliest_checkin_time field_extra_css='col-md-6' %}
  {% include 'core/include/form_field.html' with form=form field=form.latest_checkin_time field_extra_css='col-md-6' %}
</div>
<div class="form-group">
  {{ form.session.label_tag }}
  {% if form.is_bound %}
    {% if form.session.errors %}
      {% render_field form.session class="form-control is-invalid" %}
      {% for error in form.session.errors %}
        <div class="invalid-feedback">
          {{ error|escape }}
        </div>
      {% endfor %}
    {% else %}
      {% render_field form.session class="form-control is-valid" %}
    {% endif %}
  {% else %}
    {% render_field form.session class="form-control" %}
  {% endif %}

  {% if form.session.help_text %}
    <small class="form-text text-muted">{{ form.session.help_text|safe }}</small>
  {% endif %}
</div>
{{ form.img }}
